body {
	font-family: sans-serif;
	font-size: 14px;
}

#app {
	max-width: 600px;
	background-color: #eaeaea;
	margin: 0 auto;
	padding: 15px;
}

button {
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 50%;
	padding: 2px;
	margin: 5px 8px;
	cursor: pointer;
	display: inline-block;
	background-color: #73A7FC;
}

button:hover {
	opacity: .5;
}