body {
	font-family: sans-serif;
	font-size: 14px;
}

ul {
	margin: 0;
	padding: 0;
}

.app {
	max-width: 600px;
	background-color: #eaeaea;
	margin: 0 auto;
	padding: 15px;
}

.contactForm {
	border: 1px solid grey;
	padding: 20px;
}

.contactForm input, 
.contactForm button {
	width: 40%;
	padding: 10px;
	margin: 5px 8px;
}

.contactForm button {
	background-color: #73A7FC;
	border-radius: 5px;
}

.contactItem {
	background-color: #fff;
	margin: 10px 0;
	padding: 15px;
}

.contactImage {
	width: 80px;
	height: 80px;
}

.contactDesc {
	display: inline-block;
	margin-left: 30px;	
}

.contactDesc a {
	text-decoration: none;
	color: grey;
}

.contactDesc a:hover {
	text-decoration: underline;
	color: #000;
}
